extends ../shared/layout
block main-content
    main
        .container.conteiner-my
            .row
                .col-sm-4.col-sm-offset-5
                    h3.text-center Edit User
                    if (globalError)
                        h3=globalError
                        form.form-login-my(method="post" action="/users/edit/"+id enctype="multipart/form-data")
                            .form-group
                                label.label-login-my(for="username" class="label-login-my") Username
                                input.label-login-my(type="text" name="username" id="username" value=""+user.username  class="form-control")
                            .form-group
                                label.label-login-my(for="oldPassword" class="label-login-my") Old Password
                                input.label-login-my(type="password" name="oldPassword" id="oldPassword" class="form-control" required="true")
                            .form-group
                                label.label-login-my(for="password" class="label-login-my") New Password
                                input.label-login-my(type="password" name="password" id="password" class="form-control" required="true")
                                .form-group
                                    label.label-login-my(for="confirm-password" class="label-login-my") Confirm New Password
                                    input.label-login-my(type="password" name="confirmPassword" id="confirm-password" class="form-control" required="true")
                            .form-group
                                label.label-login-my(for="first-name" class="label-login-my" ) First Name
                                input.label-login-my(type="text" name="firstName" id="first-name" class="form-control" required="true" value=""+user.firstName)
                            .form-group
                                label.label-login-my(for="last-name" class="label-login-my" ) Last Name
                                input.label-login-my(type="text" name="lastName" id="last-name" class="form-control" required="true" value=""+user.lastName)
                            .form-group
                                label.label-login-my(for="email" class="label-login-my") Email
                                input.label-login-my(type="email" name="email" id="email" class="form-control" required="true" value=""+user.email)
                            button.btn.btn-default(type='submit') Register
                    else
                        form.form-login-my(method="post" action="/users/edit/" + id enctype="multipart/form-data")
                            .form-group
                                label.label-login-my(for="username" class="label-login-my") Username
                                input.label-login-my(type="text" name="username" id="username" value="" + username  class="form-control")
                            .form-group
                                label.label-login-my(for="oldPassword" class="label-login-my") Old Password
                                input.label-login-my(type="password" name="oldPassword" id="oldPassword" class="form-control" required="true")
                            .form-group
                                label.label-login-my(for="password" class="label-login-my") New Password
                                input.label-login-my(type="password" name="password" id="password" class="form-control" required="true")
                                .form-group
                                    label.label-login-my(for="confirm-password" class="label-login-my") Confirm New Password
                                    input.label-login-my(type="password" name="confirmPassword" id="confirm-password" class="form-control" required="true")
                            .form-group
                                label.label-login-my(for="first-name" class="label-login-my" ) First Name
                                input.label-login-my(type="text" name="firstName" id="first-name" class="form-control" required="true" value="" + firstName)
                            .form-group
                                label.label-login-my(for="last-name" class="label-login-my" ) Last Name
                                input.label-login-my(type="text" name="lastName" id="last-name" class="form-control" required="true" value="" + lastName)
                            .form-group
                                label.label-login-my(for="email" class="label-login-my") Email
                                input.label-login-my(type="email" name="email" id="email" class="form-control" required="true" value="" + email)
                            button.btn.btn-default(onClick="history.go(-1)") Cancel
                            button.btn.btn-default(type='submit') Edit
    include ../shared/footer