extends ../shared/layout
block main-content
    main
        .container
            .row
                .col-sm-4.col-sm-offset-5
                    h1.text-center Literature
                    form(class="form-login-my" method="POST" action="/users/literature")
                        .form-group
                            label.label-login-my(for='category') Category
                            select(id="category" class="form-control" name="category")
                                option Poetry
                                option Poems
                                option Novels
                                option Other
                        .form-group
                            label.label-login-my(for='literatureName') Name
                            input#literatureName.form-control(type='text' name="name")
                        .form-group
                            label.label-login-my(for='description') Description
                            input#description.form-control(type='text' name="description")
                        .form-group
                            label(for="input-file" class="label-login-my") Content
                            textarea(type='text' id="input-file" class="form-control" name="content")
                        button.btn.btn-default(type='submit') Submit
    include ../shared/footer