extends ../shared/layout
block main-content
    main
        .container.conteiner-my
            .row
                .col-sm-4.col-sm-offset-5
                    h3.text-center Log In
                    if (globalError)
                        h3= globalError
                    form(class="form-login-my" method="post" action="/users/authenticate")
                        .form-group
                            label(for="username" class="label-login-my") Username
                            input(type="text" name="username" id="username" class="form-control")
                        .form-group
                            label(for="password" class="label-login-my") Password
                            input(type="password" name="password" id="password" class="form-control")
                        button.btn.btn-default(type='submit') Login
    include ../shared/footer