extends ../shared/layout
block main-content
    main
        .container
            .row
                .col-sm-4.col-sm-offset-5
                    h1.text-center Registration
                    if (globalError)
                        h3= globalError
                    form.form-login-my(method="post" action="/users/create")
                        .form-group
                            label.label-login-my(for="username" class="label-login-my") Username
                            input.label-login-my(type="text" name="username" id="username" value=username class="form-control")
                        .form-group
                            label.label-login-my(for="password" class="label-login-my") Password
                            input.label-login-my(type="password" name="password" id="password" class="form-control")
                        .form-group
                            label.label-login-my(for="confirm-password" class="label-login-my") Confirm Password
                            input.label-login-my(type="password" name="confirmPassword" id="confirm-password" class="form-control")
                        .form-group
                            label.label-login-my(for="first-name" class="label-login-my") First Name
                            input.label-login-my(type="text" name="firstName" id="first-name" class="form-control")
                        .form-group
                            label.label-login-my(for="last-name" class="label-login-my") Last Name
                            input.label-login-my(type="text" name="lastName" id="last-name" class="form-control")
                        .form-group
                            label.label-login-my(for="email" class="label-login-my") Email
                            input.label-login-my(type="email" name="email" id="email" class="form-control")
                        button.btn.btn-default(type='submit') Register
    include ../shared/footer