extends ../shared/layout
block main-content
    main
        .container
            .row
                .col-sm-4.col-sm-offset-5
                    h1.text-center Registration
                    form.form-login-my(method='post', action='/')
                        .form-group
                            label.label-login-my(for='firstName') First name:
                            input#firstName.form-control(type='text')
                        .form-group
                            label.label-login-my(for='secondName') Second name
                            input#secondName.form-control(type='text')
                        .form-group
                            label.label-login-my(for='email') Email address:
                            input#email.form-control(type='email')
                        .form-group
                            label.label-login-my(for='pwd') Password:
                            input#pwd.form-control(type='password')
                        .checkbox
                            label.label-login-my
                                input(type='checkbox')
                                |  Remember me
                        input(type='submit', value='Create')