doctype html
head
    title Code-Name-Site
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/left-nav-bar.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/js/helper.js')
    //script.var url = window.location.href
        var lastSegment = url.split('/').pop()//

        //top-navbar//
nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
        .navbar-header
            a.navbar-brand(href='/') Cod-Name-Site
        ul.nav.navbar-nav
            li.active
                a(href='/') Home
            //li
                a(href='#') Page 2
        if(currentUser)
                if(currentUser.username === "Admin")
                    ul.nav.navbar-nav.navbar-right
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                                | Admin
                                span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='/admin/user/all') Users
                                //li
                                    a(href='/admin/category/all') Categories
                        li
                            a(class="dropdown-toggle" data-toggle="dropdown" href="#") Add Content
                                ul.dropdown-menu
                                    //li
                                        a(href='/graphics/create') Graphics
                                    li
                                        a(href='/literature/create') Literature
                        li
                        li
                            a(href="/users/register")
                                span(class="glyphicon glyphicon-user user-my")= " " + currentUser.username
                        li
                            form#logout-form(method="post" action="/users/logout")
                            a(href="javascript:document.getElementById('logout-form').submit()") LogOut
                                span(class="glyphicon glyphicon-log-out log-out-my")
                else
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(class="dropdown-toggle" data-toggle="dropdown" href="#") Add Content
                                ul.dropdown-menu
                                    //li
                                        a(href='/graphics/create') Graphics
                                    li
                                        a(href='/literature/create') Literature
                        li
                        li
                            a(href="/users/register")
                                span(class="glyphicon glyphicon-user user-my")= " " + currentUser.username
                        li
                            form#logout-form(method="post" action="/users/logout")
                            a(href="javascript:document.getElementById('logout-form').submit()") LogOut
                                span(class="glyphicon glyphicon-log-out log-out-my")
        else
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/users/register")
                        span.glyphicon.glyphicon-user
                        |  Registration
                li
                    a(href="/users/login")
                        span.glyphicon.glyphicon-log-in
                        |  Login
                //left-navbar//
.navbar.navbar-inverse.navbar-fixed-left
    //.panel-group
        .panel.panel-default
            .panel-heading
                h4.panel-title
                    a(data-toggle='collapse', href='#collapse1') Graphics
            #collapse1.panel-collapse.collapse
                ul.list-group
                    li.list-group-item
                        a(href='photography.html') Photography
                    li.list-group-item
                        a(href='drawing.html') Drawing
                    li.list-group-item
                        a(href='3dmodels.html') 3D Models
                    li.list-group-item
                        a(href='otherGraphics.html') Other
    .panel-group
        .panel.panel-default
            .panel-heading
                h4.panel-title
                    a(data-toggle='collapse', href='#collapse3') Literature
            #collapse3.panel-collapse.collapse
                ul.list-group
                    li.list-group-item
                        a(href='/literature/poetry') Poetry
                    li.list-group-item
                        a(href='/literature/poems') Poems
                    li.list-group-item
                        a(href='/literature/novels') Novels
                    li.list-group-item
                        a(href='/literature/other') Other
    form(method='post' action='/literature/search').form-search-leftNav-my
        #custom-search-input
            .input-group.col-md-12
                input.form-control.input-sm(type='text', placeholder='Search by name' name="search")
                span.input-group-btn
                    button.btn.btn-info.btn-sm(type='submit')
                        i.glyphicon.glyphicon-search
block main-content

