doctype html
head
    title Code Name Site
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/left-nav-bar.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/js/helper.js')
nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
        .navbar-header
            a.navbar-brand(href='/') Code Name Site
        ul.nav.navbar-nav
            if(active)
                li(class="" id="home")
                    a(href='/') Home
                li(id="about" class="active")
                    a(href='/home/about') About
            else
                li(class="active" id="home")
                    a(href='/') Home
                li(id="about" onclick="setActive()")
                    a(href='/home/about') About
        if(currentUser)
            if(currentUser.username === "Admin")
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                            | Admin
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='/admin/user/all') Users
                            //li
                                a(href='/admin/category/all') Categories
                    li
                        a(class="dropdown-toggle" data-toggle="dropdown" href="#") Add Content
                            ul.dropdown-menu
                                li
                                    a(href='/graphics/create') Graphics
                                li
                                    a(href='/literature/create') Literature
                    li
                    li
                        a(href="/users/profile/" + currentUser.id)
                            span(class="glyphicon glyphicon-user user-my")= " " + currentUser.username
                    li
                        form#logout-form(method="post" action="/users/logout")
                        a(href="javascript:document.getElementById('logout-form').submit()") LogOut
                            span(class="glyphicon glyphicon-log-out log-out-my")
            else
                ul.nav.navbar-nav.navbar-right
                    li
                        a(class="dropdown-toggle" data-toggle="dropdown" href="#") Add Content
                            ul.dropdown-menu
                                li
                                    a(href='/graphics/create') Graphics
                                li
                                    a(href='/literature/create') Literature
                    li
                    li
                        a(href="/users/profile/" + currentUser.id)
                            span(class="glyphicon glyphicon-user user-my")= " " + currentUser.username
                    li
                        form#logout-form(method="post" action="/users/logout")
                        a(href="javascript:document.getElementById('logout-form').submit()") LogOut
                            span(class="glyphicon glyphicon-log-out log-out-my")
        else
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/users/register")
                        span.glyphicon.glyphicon-user
                        |  Registration
                li
                    a(href="/users/login")
                        span.glyphicon.glyphicon-log-in
                        |  Login
                //left-navbar//
.navbar.navbar-inverse.navbar-fixed-left
    .panel-group
        .panel-heading
            button(data-toggle='collapse', href='#collapse1').left-bar-g
        #collapse1.panel-collapse.collapse.my-collaps
            ul.list-group
                li.list-group-item.left-bar-collapse
                    button(onclick="location.href='/graphics/index'").photo-menu-all.b-m
                li.list-group-item.left-bar-collapse
                    button(onclick="location.href='/graphics/photography'").photo-menu-graphics.b-m
                li.list-group-item.left-bar-collapse
                    button(onclick="location.href='/graphics/drawing'").photo-menu-drawing.b-m
                li.list-group-item.left-bar-collapse
                    button(onclick="location.href='/graphics/threeDmodels'").photo-menu-3D.b-m
                li.list-group-item.left-bar-collapse
                    button(onclick="location.href='/graphics/other'").photo-menu-other.b-m
    .panel-group-down
        .panel-heading
            button(data-toggle='collapse', href='#collapse3').left-bar-l
        #collapse3.panel-collapse.collapse.my-collaps
            ul.list-group
                li.list-group-item.left-bar-collapse
                    button(onclick="location.href='/literature/index'").lit-menu-all.b-m
                li.list-group-item.left-bar-collapse
                    button(onclick="location.href='/literature/poetry'").lit-menu-poetry.b-m
                li.list-group-item.left-bar-collapse
                    button(onclick="location.href='/literature/poems'").lit-menu-poems.b-m
                li.list-group-item.left-bar-collapse
                    button(onclick="location.href='/literature/novels'").lit-menu-novels.b-m
                li.list-group-item.left-bar-collapse
                    button(onclick="location.href='/literature/other'").lit-menu-other.b-m
    form(method='get' action='/search/search' enctype="multipart/form-data").form-search-leftNav-my
        #custom-search-input
            .input-group.col-md-12
                if(result)
                    input.form-control.input-sm(type='text', placeholder='Search by name' name="search" value="" + result)
                else
                    input.form-control.input-sm(type='text', placeholder='Search by name' name="search")
                span.input-group-btn
                    button.btn.btn-info.btn-sm(type='submit')
                        i.glyphicon.glyphicon-search
block main-content

