extends ../shared/layout
block main-content
    main
        .container.conteiner-my
            .row
                .col-sm-4.col-sm-offset-5
                    h1.text-center Graphics Edit Error
                    if (globalError)
                        h3= globalError
                        a.btn.btn-danger.btn-xs(href='/') Return

    include ../shared/footer