extends ../shared/layout
block main-content
    .container.conteiner-my
        h1.text-center Details
        .row
            .col-md-12
            h2(class)=name
            .details-display
                .details-conteiner
                    p=content
            a(href="#")
                small=author.username

    include ../shared/footer