extends ../shared/layout
block main-content
    .container.conteiner-my
        h3.text-center About project
        .content
            p This app is created for defence of my course
                a(href="https://softuni.bg/trainings/1430/software-technologies-october-2016")  "Software Technologies - октомври 2016"
            p For backbone i use project from
                a(href="https://softuni.bg/trainings/resources/video/10837/video-screen-25-october-2016-ivaylo-kenov-express-js-development-october-2016")  "Express.js Development - октомври 2016"
            p The source code of this app is in
                a(href="https://github.com/losko/CodeNameSite")   Github.com
        .credits
            h3.text-center Credits
            p Code and Script Master : &nbsp;
                span.name Lozan Vlashev
            p Email: &nbsp;
                span.email lozan_vlashev@abv.bg
            p Visual Details Master : &nbsp;
                span.name Dimitar Dimitrov
            p Email: &nbsp;
                span.email mukonline1987@gmail.com
    include ../shared/footer
