block main-content
    .container
        h1.text-center Comments
        .row
            form(class="form-login-my" method="POST" action="/comments/create")
                .form-group
                    input#literatureName.form-control(type='text' name="target" value=""+id style="Display: none")
                .form-group
                    label(for="input-file" class="label-login-my") Comment
                    textarea(type='text' id="input-file" class="form-control" name="comment")
                button.btn.btn-default(type='submit') Submit
        .row
            each comment in comments
                p=comment.author.username
                p=comment.comment
                p=comment.date
                p -----------------
                if(currentUser)
                    if(currentUser.username === author.username || currentUser.username === 'Admin')
                        a.btn.btn-success.btn-xs(href='/comment/edit/'+id) Edit
                        a.btn.btn-danger.btn-xs(href='/comment/delete/'+id) Delete