block main-content
    .container
        h3.text-center Comments
        .row
            form(method="POST" action="/comments/create" enctype="multipart/form-data")
                .form-group
                    input#literatureName.form-control(type='text' name="target" value=""+id style="Display: none")
                .form-group
                    label(for="input-file") Comment
                    textarea(type='text' id="input-file" class="form-control" name="comment" rows="5")
                    button.btn.btn-default(type='submit') Comment
                br
                br
        .row
            each comment in comments
                .comment
                    br
                    a(href="/users/profile/"+comment.author.id)
                        span(class="comment-username")=comment.author.username
                    span &nbsp;
                    span=comment.date
                    p(class="comment-text")!=comment.comment
                    if(currentUser)
                        if(currentUser.username === comment.author.username || currentUser.username === 'Admin')
                            a.btn.btn-success.btn-xs(href='/comment/edit/'+comment._id) Edit
                            a.btn.btn-danger.btn-xs(href='/comment/delete/'+comment._id) Delete
                    p -----------------